/.lake
mathlib4-4.29.0/
lakefile.lean/
/lake-packages/
/build/
*.olean
*.ilean
*.tlean
/blueprint/**/*.log
/blueprint/**/*.aux
/blueprint/**/*.fls
/blueprint/**/*.fdb_latexmk
/blueprint/**/*.out
/blueprint/**/*.synctex.gz
/blueprint/**/*.paux
/blueprint/**/*.pdf
/blueprint/print/*
.DS_Store
Thumbs.db